.landing-page {
  position: relative;
  width: 440px;
  height: 956px;
  background: #ffffff;
  overflow: hidden;
}

/* 烟火背景 */
.bg-firework {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 558.99px;
  height: 629.6px;
  background-repeat: no-repeat;
  z-index: 0;
}

/* 信封背景 */
.bg-envelope {
  position: absolute;
  top: 484.5px;
  left: -35px;
  width: 509px;
  height: 471.5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}


/* 顶部导航栏 */
.landing-topbar {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 391px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.brand {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 28px;
  font-weight: 400;
  color: #192729;
  width: 124px;
  height: 35px;
  line-height: 100%;
  position: absolute;
  top: 20px;
  left: 68px;
}


/* 主标题 */
.headline {
  position: absolute;
  top: 131px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.headline img {
  max-width: 368px;
  height: auto;
}

/* 搜索栏容器 */
.add-school-wrapper {
  position: absolute;
  top: 370px;
  left: 75px;
  width: 290px;
  height: 52px;
  z-index: 2;
}
.add-school-btn {
  width: 290px;
  height: 52px;
  cursor: pointer;
}


.search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

/* school logos */
.add-logos-wrapper {
  position: absolute;
  top: 450px;
  left: 69px;
  width: 320px;
  height: 320px;
  z-index: 3;
}
.top-right{
  position: absolute;
  width: 123;
  height: 128;
  top: 453px;
  left: 225px;
}

.top-left{
  position: absolute;
  width: 117;
  height: 135;
  top: 516px;
  left: 69px;
}

.bottom-right{
  position: absolute;
  width: 137;
  height: 124;
  top: 589px;
  left: 276px;
}

.bottom-left{
  position: absolute;
  width: 154;
  height: 101;
  top: 685px;
  left: 104px;
}